.loaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .loader {
    border: 8px solid var(--grey-100);
    border-top: 8px solid var(--primary-main);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @mixin size($size) {
    width: var(--size-#{$size}-size);
    height: var(--size-#{$size}-size);
  }

  .size-s {
    @include size(s);
  }
  .size-m {
    @include size(m);
  }
  .size-l {
    @include size(l);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .inButton {
    width: 14px;
    height: 14px;
    border-width: 2px;
    border-color: var(--grey-700);
    border-top-color: var(--grey-400);
  }
}
