.checkbox {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  padding: 3px 4px 4px 30px;

  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .box {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    height: 18px;
    width: 18px;
    background-color: var(--white);
    border: 1px solid var(--grey-600);
    border-radius: 4px;
    cursor: pointer;
  }

  .mark {
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 9px;
    width: 12px;
    color: var(--white);
  }

  input:checked + .box {
    background-color: var(--primary-main);
    border: 1px solid var(--primary-main);
  }
}
