@use '../../../theme/theme.module.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);

  .modal {
    min-width: 300px;
    max-width: 100vw;

    min-height: 300px;
    max-height: 100dvh;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    .main {
      border-radius: 16px;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid var(--grey-500);
      background: var(--white);

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding-left: 32px;
        padding-right: 24px;
        height: 64px;
        min-height: 64px;
      }

      .body {
        flex: 1;
        overflow: auto;

        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-bottom: 20px;
        }

        .footer {
          margin-top: 20px;
          text-align: center;
        }
      }

      .bodyPadding {
        padding: 32px;
        padding-top: 0px;
      }
    }

    @include theme.respond-to(sm, max) {
      min-width: 100vw;
      width: 100vw;
      min-height: 100dvh !important;
      max-height: 100dvh !important;
      height: 100dvh !important;
      padding: 0px !important;
      border-radius: 0px !important;

      .main {
        border-radius: 0px !important;
      }
    }
  }

  .isHidden {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
}
