.CarCard {
  padding: 24px;
  border: 1px solid var(--grey-300);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .userinfo {
      flex: 1;
    }
  }

  .images {
    display: flex;
    flex-direction: row;
    gap: 12px;

    .image {
      overflow: hidden;
    }
  }
}
