.wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    .title {
      display: flex;
      flex-direction: column;
      gap: 2px;
      max-width: 80%;
    }

    .navigation {
      float: right;
      display: flex;
      flex-direction: row;
      gap: 6px;

      button {
        width: 44px;
        height: 44px;
        background: var(--beige);
        border-radius: 50%;
        border: none;
        font-size: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f0ece2;
        }
      }

      // @include theme.respond-to(sm, max) {
      //   display: none;
      // }
    }
  }

  .slider {
    margin-top: 25px;
    max-width: 100%;
  }
}
