.avatar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
  background-color: var(--grey-100);
  border: 1px solid transparent;

  div {
    flex: 1;
  }

  svg {
    margin-top: 30%;
  }
}

.size-l {
  width: 96px;
  min-width: 96px;
  height: 96px;
  min-height: 96px;
}

.size-m {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
}

.size-s {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;
}
