.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 90px;
  min-height: calc(100vh - 550px);
}

.fluid-container {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 1200px;
  padding: 0px var(--size-l-space);
  display: flex;
  flex-direction: column;
  gap: var(--size-l-space);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 100%;
}

.flex-row-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--grey-200);
  border-radius: 10px;
  padding: 20px;
}
