@use 'sass:math';
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$breakpoints: (
  sm: 575px,
  md: 775px,
  lg: 1000px,
  xl: 1250px,
);

@mixin scroll {
  scrollbar-color: var(--grey-200-grad) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--grey-200-grad);
  }
}

$alignments: left, right, center;

@each $alignment in $alignments {
  .text-align-#{$alignment} {
    text-align: $alignment;
  }
}

$grid-columns: 12;
$gutter: 20px;

@mixin make-col($i) {
  @if $i == 0 {
    display: none;
    flex: 0 0 auto;
    max-width: none;
  } @else {
    display: block;
    $pct: math.percentage(math.div($i, $grid-columns));
    flex: 0 0 $pct;
    max-width: $pct;
  }
}

@mixin _generate-col-set($prefix: null) {
  .col#{if($prefix, '-#{$prefix}', '')} {
    flex: 1 0 0;
    max-width: 100%;
  }

  .col#{if($prefix, '-#{$prefix}', '')}-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  @for $i from 0 through $grid-columns {
    .col#{if($prefix, '-#{$prefix}', '')}-#{$i} {
      @include make-col($i);
    }
  }
}

@include _generate-col-set();

@each $name, $min in $breakpoints {
  @media (min-width: $min) {
    @include _generate-col-set($name);
  }
}

@mixin respond-to($point, $type: max) {
  $value: map.get($breakpoints, $point);
  @if $value == null {
    @error "Unknown breakpoint `#{$point}`. Valid keys: #{map.keys($breakpoints)}";
  }

  @if $type == max {
    @media screen and (max-width: $value) {
      @content;
    }
  } @else if $type == min {
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @error "Second arg must be 'min' or 'max'.";
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px var(--size-l-space);
  display: flex;
  flex-direction: column;
  gap: var(--size-l-space);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(math.div($gutter, 2));
  margin-right: -(math.div($gutter, 2));
}

.row > [class*='col'] {
  box-sizing: border-box;
  padding-left: math.div($gutter, 2);
  padding-right: math.div($gutter, 2);
}

.paginatedList {
  height: calc(100vh - 230px);
  min-height: 400px !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  padding-right: 9px;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 90px;
  min-height: calc(100vh - 550px);
}

.fluid-container {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 1200px;
  padding: 0px var(--size-l-space);
  display: flex;
  flex-direction: column;
  gap: var(--size-l-space);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 100%;
}

.flex-row-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--grey-200);
  border-radius: 10px;
  padding: 20px;
}
