@use 'sass:math';
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html,
body {
  font-family: 'DM Sans', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

// Fonts: font size, weight and line-height
$fonts: (
  400: (
    12: 15px,
    14: 18px,
    16: 21px,
    18: 24px,
    20: 27px,
  ),
  500: (
    14: 21px,
    16: 24px,
    18: 27px,
    20: 30px,
    22: 34px,
    24: 38px,
  ),
  700: (
    14: 21px,
    16: 24px,
    18: 27px,
    20: 30px,
    22: 33px,
    24: 39px,
    28: 45px,
  ),
);

:root {
  @each $weight, $sizes in $fonts {
    @each $size, $lineHeight in $sizes {
      --font-#{$weight}-#{$size}: normal #{$weight} #{$size}px/#{$lineHeight} 'DM Sans', sans-serif;
    }
  }

  // Colors
  --white: #ffffff;
  --black: #000000;

  // Grey
  --grey-100: #f2f2f2;
  --grey-200: #e2ecef;
  --grey-300: #e6e6e6;
  --grey-400: #d9d9d9;
  --grey-500: #cccccc;
  --grey-600: #999999;
  --grey-700: #666666;
  --grey-800: #333333;

  // Accent
  // --primary-main: #2563eb; // background
  // --primary-inverse: #ffffff; // text
  // --primary-dark: #1523eb; // main darker
  // --primary-light: #eff6ff; // main lighter

  // Teal
  --primary-main: #0d9488; // background
  --primary-dark: #0f766e; // main darker
  --primary-light: #99f6e4; // main lighter
  --primary-inverse: var(--white); // text

  // Indigo
  // --primary-main: #4338ca; // background
  // --primary-dark: #312e81; // main darker
  // --primary-light: #c7d2fe; // main lighter
  // --primary-inverse: var(--white); // text

  // Amber
  // --primary-main: #d97706; // background
  // --primary-dark: #b45309; // main darker
  // --primary-light: #fde68a; // main lighter
  // --primary-inverse: var(--white); // text (better contrast here)

  // Rose
  // --primary-main: #e11d48; // background
  // --primary-dark: #be123c; // main darker
  // --primary-light: #fda4af; // main lighter
  // --primary-inverse: var(--white); // text

  // Emerald
  // --primary-main: #059669; // background
  // --primary-dark: #047857; // main darker
  // --primary-light: #a7f3d0; // main lighter
  // --primary-inverse: var(--white); // text

  // Secondary variant
  --secondary-main: var(--white);
  --secondary-inverse: var(--black);
  --secondary-dark: var(--grey-800);
  --secondary-light: var(--grey-100);

  --error-light: #ee2c2c;
  --error: #c92121;
  --success: #1eb82b;
  --warning: #ff9b44;

  --disabled-main: var(--grey-400);
  --disabled-inverse: var(--grey-700);

  // Spacings
  --general-outline-width: 1px;
  --general-outline-style: solid;

  // Sizes
  --size-s-font: var(--font-400-14);
  --size-s-size: 30px;
  --size-s-space: 8px;
  --size-s-borderradius: 4px;

  --size-m-font: var(--font-400-16);
  --size-m-size: 40px;
  --size-m-space: 16px;
  --size-m-borderradius: 6px;

  --size-l-font: var(--font-400-18);
  --size-l-size: 48px;
  --size-l-space: 20px;
  --size-l-borderradius: 8px;

  --navbar-overlay-z-index: 98;
  --navbar-z-index: 99;
  --modal-overlay-z-index: 100;
  --modal-z-index: 101;
  --popover-z-index: 102;
  --context-menu-z-index: 103;
  --select-z-index: 104;
  --toast-z-index: 105;
  --toastify-z-index: 105;
  --tooltip-z-index: 106;
}
