.buttonLink {
  text-decoration: none;

  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
  padding-bottom: 5px;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
