.wrapper {
  display: flex;
  flex-direction: column;
}

.menu {
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: 100px;
  border: 1px solid var(--grey-400);
  overflow-y: auto;
  background-color: var(--white);
  border-radius: 12px;

  .optionsVirualWrapper {
    height: 100%;
    overflow-y: auto;

    .optionsVirualList {
      position: relative;

      .optionsVirualOption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    cursor: pointer;
    user-select: none;

    .label {
      flex: 1;
      max-width: 80%;
      cursor: pointer;
    }

    .checkbox {
      height: 30px;
    }

    &:hover {
      background: var(--primary-light);
    }

    &:active {
      background: var(--primary-main);
      color: var(--white);

      .okIcon {
        color: var(--white);
      }
    }
  }

  .hasBorderTop {
    border-top: 1px solid var(--grey-300-grad);
  }

  .group {
    padding-left: 8px;
    background-color: var(--grey-100);
  }

  .disabled {
    pointer-events: none;
  }

  .onlySelected {
    border-bottom: 1px solid var(--grey-500);
  }

  .isLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    padding-bottom: 15px;
  }

  .nothingFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
  }
}

@mixin size($size) {
  border-radius: var(--size-#{$size}-borderradius);

  .option {
    gap: var(--size-#{$size}-space);
    padding: 0 var(--size-#{$size}-space);
    height: var(--size-#{$size}-size);
    min-height: var(--size-#{$size}-size);
  }

  .group {
    height: var(--size-#{$size}-size);
    min-height: var(--size-#{$size}-size);
  }

  .onlySelected {
    font: var(--size-#{$size}-font);
    padding: var(--size-#{$size}-space);
  }
}

.size-s {
  @include size(s);
}
.size-m {
  @include size(m);
}
.size-l {
  @include size(l);
}

.trigger {
  display: flex;
  flex-direction: row;
  position: relative;

  input {
    background-color: var(--white) !important;
  }
}

.search {
  padding: 12px;
  box-sizing: border-box;
}
