.RadioList {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .wrapper {
    display: flex;
    width: 100%;
  }

  .background {
    background-color: var(--grey-100);
  }

  .vertical {
    flex-direction: column;
    gap: 0;
  }

  @mixin size($size) {
    border-radius: var(--size-#{$size}-borderradius);
  }

  .size-s {
    @include size(s);
  }
  .size-m {
    @include size(m);
  }
  .size-l {
    @include size(l);
  }
}
