.body {
  max-width: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
}
