// @use '../../styles/theme';

.form {
  width: 100%;
  max-width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;

  .inputComponent {
    display: flex;
    flex-direction: column;
  }

  .errorWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18px;
    padding-top: 5px;
  }
}

.validationBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 6px;
  padding: 7px 10px;

  .flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .bar {
    width: 134px;
    height: 14px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.03);

    .filledBar {
      height: 100%;
      width: 0%;
      border-radius: 7px;
    }
  }
}

.validationSuccess {
  color: var(--success-light);
  border: 1px solid var(--success-dark);
  background-color: var(--primary-light);
}

.validationDanger {
  color: var(--error-light);
  border: 1px solid var(--error-dark);
  background-color: var(--primary-light);
}

.validationCollapseSuccess {
  margin-bottom: 0px;
}
.validationCollapseDanger {
  margin-bottom: 0px;
}

.groupsWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  width: 100%;
  padding: 10px 0px;

  .groups {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .noItems {
      padding-bottom: 20px;
    }

    .group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 15px;
      background-color: rgba(0, 0, 0, 0.03);
      padding-bottom: 0px;
      border-radius: 8px;
      padding: 15px 20px;

      .groupInputs {
        width: 100%;
      }

      .groupRemove {
        padding-left: 5px;
        margin-top: 17px;
      }
    }
  }
}

.isWrongParentIndex {
  opacity: 0.3;
  height: 0px;
  visibility: hidden;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
