.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .card {
    width: 25%;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    .listText {
      width: 80%;
    }

    .width100 {
      width: 100%;
    }
  }
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .tableRow {
    width: 100%;
    height: 40px;
    position: relative;

    .tableCells {
      width: 97%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 15px;
      padding-left: 0px;
      margin-right: 15px;
      position: absolute;
      z-index: 1;
      top: 10px;
      height: 20px;

      .seperator {
        flex: 1;
      }

      .tableCell {
        width: 20px;
      }
    }
  }
}

.kanban {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .column {
    width: 25%;
  }
}

.filterBar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  height: 50px;

  .filterCell {
    width: 100%;
  }

  .filterInputs {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    z-index: 1;
    top: 15px;
    height: 20px;

    .seperator {
      flex: 1;
    }

    .filterInputLong {
      width: 200px;
    }

    .filterInputMedium {
      width: 100px;
    }

    .filterInputSmall {
      width: 20px;
    }
  }
}
