.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
  padding: var(--size-s-space);
  padding-left: 10px;

  .label {
    cursor: pointer;
  }

  input {
    display: none;
  }

  .box {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid var(--grey-600);
    border-radius: 50%;
    margin-right: 10px;
  }

  .mark {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: var(--primary-main);
    border-radius: 50%;
  }

  input:checked + .box {
    border-color: var(--primary-main);
  }
}
