.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;

  .text {
    display: inline-block;
  }

  .oneLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .multiLines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--lines-count);
    line-clamp: var(--lines-count);
  }

  .disabled {
    color: var(--grey-600);
  }

  .hasError {
    color: var(--error-light) !important;
  }

  .active {
    color: var(--bezh);
  }

  .hint {
    color: var(--grey-700);
  }

  .required {
    width: 14px;
    color: var(--error);
  }
}

.cursorPointer {
  cursor: pointer;
}
