.accordion {
  width: 100%;

  .header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--black);
    padding: 12px 0px;
  }

  .content {
    padding-bottom: 12px;
  }
}
